@mixin item{
    background-color: skyblue;
    margin: 0px;
    padding: 0px;
    color: black;
    border: 2px solid blue; 
}
@mixin list {
    font-size: 60px;
                text-decoration: none;
                text-transform: uppercase;
                
                display: block;
                width: 400px;
    
}
